.product-img{
    width: 100%;
    height: 250px;
    /* box-shadow: 10px 15px 40px -11px #ccc; */
}
/* .column{
    margin-left: 37px;
} */
.column1{
    position: relative;
}
/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 50px;
    opacity: 0;
    transition: .3s ease;
    background-color: white;
} */
.icon {
    color: rgb(0, 0, 0);
    font-size: 27px;
    position: absolute;
    top: 211px;
    left: 164px;
    height: 46px;
    width: 49px;
    opacity: 0;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    transition: .3s ease;
    border-radius: 2%;
    transform: translateY(20px);
}
.icon1 {
    color: rgb(0, 0, 0);
    font-size: 27px;
    position: absolute;
    top: 211px;
    left: 105px;
    height: 46px;
    width: 49px;
    opacity: 0;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    transition: .3s ease;
    border-radius: 2%;
    transform: translateY(20px);
}
.icon2 {
    color: rgb(0, 0, 0);
    font-size: 27px;
    position: absolute;
    top: 211px;
    left: 45px;
    height: 46px;
    width: 49px;
    opacity: 0;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    transition: .3s ease;
    border-radius: 2%;
    transform: translateY(20px);
}
.column1:hover .icon2 {
    opacity: 1;
    transform: translateY(-20px);
    
    
}

.column1:hover .icon1 {
    opacity: 1;
    transform: translateY(-20px);
    
}

.column1:hover .icon {
    opacity: 1;
    transform: translateY(-20px);
    
}
.icon:hover{
  color: white;
    background-color: #a76732;
}
.icon1:hover{
color: white;
    background-color: #a76732;
}
.icon2:hover{
color: white;
    background-color: #a76732;
}
.product-description{
/* margin-left: 54px; */
margin-top: 16px;
font-size: 15px;
word-spacing: 1px;
letter-spacing: 1px;
color: black;
}
.product-description:hover{
color: #a76732;
}
.product-prize{
/* margin-left: 5px;
margin-left: 85px;
margin-top: -9px; */
color: #a76732;
font-weight: 600;
}
.product-heading{
margin-top: 50px;
font-style: italic;
background-color: #a76732;
padding: 40px;
}
.nav-color{
background-color: white;
}
.page-link1{
    text-decoration: none;
    padding: 15px;
    color:#000000;
    font-family: montserrat,Sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 30px;
    border: 1px solid #a76732;
    transition: all 0.1s linear;
}
.page-link1:hover{
    color: white;
    background-color: #a76732;
}

